<div>
    <h3>{{ weather.city }}</h3>
    <p>Тиск: {{ weather.pressure }} Па</p>
    <p>Вологість: {{ weather.humidity }}</p>
    <p>Температура: {{ weather.temp }} °С</p>
    <p>Вітер: {{ weather.wind_speed }} м/с</p>
</div>